@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	margin: 0;
}

ul,
ol {
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

html {
	background: #0b1b36e1;
}

body {
	font-family: "Inter", sans-serif !important;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin-inline: auto;
	padding-inline: 20px;
}
